.chatting .popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px; /* 채팅창의 너비를 300px에서 500px로 확장 */
    background: #9bbbd4;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.chatting .chat {
    height: 350px;
    overflow-y: auto;
    border: 0px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%; /* 채팅창 내부의 채팅 메시지 영역도 너비를 자동으로 조절 */
}

.chatting .chat .message.right,
.chatting .chat .message.left {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 0.85rem;
}

.chatting .chat .message.right {
    justify-content: flex-end;
}

.chatting .chat .message.left {
    justify-content: flex-start;
}

.chatting .chat .message.right p
 {
    background-color: #ffe812; /* 밝은 노란색 말풍선 */
    color: black;
    padding: 8px 12px;
    border-radius: 18px;
    max-width: 70%;
    margin: 0 10px; /* 시간과의 간격 조절 */
}

.chatting .chat .message.left p {
    background-color: #ffffff; /* 밝은 노란색 말풍선 */
    color: black;
    padding: 8px 12px;
    border-radius: 18px;
    max-width: 70%;
    margin: 0 10px; /* 시간과의 간격 조절 */
}

.chatting .chat .message.right small,
.chatting .chat .message.left small {
    color: #888;
    font-size: 0.75rem;
}

.chatting .chat .message.right small {
    margin-right: 10px; /* 오른쪽 메시지의 시간 */
}

.chatting .chat .message.left small {
    margin-left: 10px; /* 왼쪽 메시지의 시간 */
}


  
  .chatting input[type='text'] {
    width: calc(100% - 22px);
    padding: 10px;
  }
  
  .chatting button {
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; 
    padding: 0;
  }
  
  .chat {
      max-height: 300px;
      overflow-y: auto;
      border: 1px solid #ccc;
      padding: 10px;
      margin-top: 10px;
    }
    
    .chat p {
      margin: 5px 0;
    }
    
    .chat input[type="text"] {
      width: calc(100% - 20px);
      padding: 5px;
      margin-top: 10px;
    }
    

  