.profileContainer{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    width: 500px;
    height: 400px;
    background: #e6e6e6;

}



.profileBox {


    display: flex;
    justify-content: center;
    
    
}

.profileBox img{

    border: 1px solid black;
    width: 250px;
    height: 250px;


}

.profileBox .profile{

    border: 1px solid 3px;
 


}



.profile p{

   
    width: 250px;
    

}


